/*-------------------- MIXINS --------------------*/
@mixin w-h($w, $h) {
	width: $w;
	height: $h;
}
@mixin m-p($m, $p) {
	margin: $m;
	padding: $p;
}
/*-------------------- COlORS VARIABLES --------------------*/

/*-------------------- FONTS --------------------*/
$klavikaB: 'KlavikaB';
$klavikaL: 'KlavikaL';
$klavikaM: 'KlavikaM';
$klavikaR: 'KlavikaR';

@font-face {
	font-family: KlavikaB;
	src: url(../font/klavika-bold-webfont.woff),
}
@font-face {
	font-family: KlavikaL;
	src: url(../font/klavika-light-webfont.woff),
}
@font-face {
	font-family: KlavikaM;
	src: url(../font/klavika-medium-webfont.woff),
}
@font-face {
	font-family: KlavikaR;
	src: url(../font/klavika-regular-webfont.woff),
}

/*-------------------- ANIMATIONS CSS--------------------*/
@keyframes bounce {
	0% {
		transform: translateY(-15px) ;
	}

	100% {
		transform: translateY(0px);
	}
}

.bounce {
	animation-name: bounce;
	animation-duration: 1s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

@keyframes scaleIn {
	0% {
		transform: scale(0);
	}
	
	100% {
		transform: scale(1);
	}
}

.scaleIn {
	animation-name: scaleIn;
	animation-duration: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: .2s;
  animation-fill-mode: forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  
  50% {
    opacity: 1;
  }

  100% {
  	opacity: 0;
  }
}
.fadeInOut {
  animation-name: fadeInOut;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

/*-------------------- RESETS--------------------*/
html, body, header, nav, footer, section, div, span, h1, h2, h3, p, a, blockquote, cite, img, ol, ul, li, form, fieldset, label, legend  {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-weight: normal;
}

/*-------------------- BASES--------------------*/
*{
	margin: 0;
	padding: 0;
	border: 0;
}

html, body {
	font-size: 1vw;
	width: 100%;
	height: 100%;
}

body {
	overflow: hidden;
	background-color: #080808;
}

p, a {
	color: #fff;
	font: {
		family: $klavikaR;
	}	
}

/*-------------------- STYLE--------------------*/
#home_boarding {
	@include w-h(100%, 100%); 
	@include m-p(0,0);
	background-color: #000;
	position: fixed;
	z-index: 1;
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    animation-delay: 4s;
    pointer-events: none;
    #monk {
    	img {
    		@include w-h(80%, auto); 
    		margin-bottom: 20%;
    	}
	}
	p {
		text-align: center;
	}
	.textLoading {
		position: absolute;
	}
	#patience {
		opacity:0;
		position: relative;
		top: 5em;
		
	}
	#padawan {
		opacity:0;
		animation-delay: 2s;
		position: relative;
		top: 4em;
	}
}                                                                                                         
.background	{
	position: fixed;
	top: 0;
	left: 0;
	width: 12226px;
	height: 100%;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 100% auto;
	z-index: -1;
	transition: all 1s;
	background-color: #080808;
}

nav {
	@include w-h(100%, auto);
	position: fixed;
	bottom: 0;
	
	#logo {
		margin-right: 1.2em;
		margin-bottom:0;
		float: right;
		
	}
	
	#paginationContainer {
		position: fixed;
		display: flex;
		justify-content: flex-start;
		margin-left: 1.5em;
		margin-top: 2.5em;
		border-top: 1.5px dotted #fff;
		border-right: 1.5px dotted #fff;
		border-bottom: 1.5px dotted #fff;
		
		.pagination {
			@include w-h(2em, 1em);
			display: flex;
			justify-content: center;
			align-items: center;
			padding-left: .5em;
			padding-right: .5em;
			color: #fff;
			border-left: 1.5px dotted #fff;
			text-decoration: none;
			cursor: pointer;
			font: {
				family: $klavikaR;
				size: 1em;
			} 
			a {
				border-left: 1.5px dotted #fff;
			}

			&:hover {
				background-color: #fff;
			}
		}

		.active {
			background-color: #fff;
		}
	}
}

.advice, .adviceLeft, .adviceRight, .adviceRight1 {
	position: fixed;
	text-transform: uppercase;
	text-decoration: underline;
	pointer-events: none;
	color: #fff;
	font: {
		size: 3em;
	}
}

.advice {
	left: 2vw;
	top: 2vh;	
}


.adviceLeft {
	left: 6vw;
	top: 41vh;
}

.adviceRight {
	text-align: right;
	right: 6vw;
	top: 41vh;
}

.adviceRight1 {
	text-align: right;
	right: 6vw;
	top: 33.5vh;
}

#contact {
	@include w-h(100%, 100%);
	position: fixed;
	z-index: -10;
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 2vw;
	
	h2 {
		position: fixed;
		top: 3vh;
		right: 3vw;
		text-transform: uppercase;
		text-decoration: underline;
		pointer-events: none;
		color: #fff;
		font: {
			family: $klavikaR;
			size: 3vw;
		}
	}
	
	.text  {
		position: fixed;
		top: 42vh;
		right: 6vw;
		text-align: right;
		pointer-events: none;

		font: {
			family: $klavikaR;
			size: 1em;
		}
	}
	
	a {
		color: #fff;
		cursor: pointer;
		pointer-events: none;
	}
	
	
}
.previous	{
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	position: fixed;
	top: calc(50% - 50px);
	left: 2vw;
	width: 30px;
	height: 30px;
	transform: rotate(135deg);
	transition: all .2s;
	cursor: pointer;
	&:hover {
		border-right: 4px solid white;
		border-bottom: 4px solid white;
	}
}
.next	{
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	position: fixed;
	top: calc(50% - 50px);
	right: 2vw;
	width: 30px;
	height: 30px;
	transform: rotate(-45deg);
	transition: all .2s;
	cursor: pointer;
	&:hover {
		border-right: 4px solid white;
		border-bottom: 4px solid white;
	}
}